{% load martortags %}
{% load staticfiles %}
{% load static %}

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#entry-panel" aria-expanded="false" aria-controls="collapseExample">
    Add New Entry
  </button>

<div class="collapse" id="entry-panel">
  <div class="card card-body">
    <div class="container-fluid input-group input-group-sm entry-panel" id="entry-panel">
        <form class="ui form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
            <button>{{ button_name }}</button>
        </form>
    </div>
  </div>
</div>