{% load martortags %}
{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}

<div class="container-fluid panel-group log-entry">
    <div class="row panel panel-default">
        <div class="col-sm-3 panel-body">
            {% if entry.project %}
                <div class="row">
                    {{ entry.project }}
                </div>
                <div class="row">
                    {{ entry.creation_dt }}
                </div>
            {% else %}
                <div class="row">
                    {{ entry.creation_dt }}
                </div>
            {% endif %}
        </div>
        {% if disable_actions %}
            <div class="col-sm-9 panel-body">
                {{ entry.content|safe_markdown }}
            </div>
        {% else %}
            <div class="col-sm-7 panel-body">
                {{ entry.content|safe_markdown }}
            </div>
            <div class="col-sm-2 panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="{{ entry.edit_url }}">Edit</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="{{ entry.delete_url }}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>