
<div class="sidebar">
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-title">Project Log</li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">
                <i class="nav-icon cui-speedometer"></i>Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'projects' %}">
                <i class="nav-icon cui-speedometer"></i>Projects
            </a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-project' %}">
                        <i class="nav-icon cui-speedometer"></i>Add Project
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</div>