{% extends 'base/html-base.html' %}
{% load bootstrap4 %}
{% load martortags %}
{% load static %}
{% load staticfiles %}

{% block pagecontent %}
    <div class="Site-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 sidepanel">
                    {% block sidepanel %}
                        {% include 'partials/navbar.html' %}
                    {% endblock %}
                </div>
                <div class="col-sm-10">
                    {% include 'partials/messages.html' with messages=messages%}
                    {% block page %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
     {% block footer %}
        <footer>
            <p>Project Log &copy; 2019 hmcclungiii (The Code Jerk)</p>
        </footer>
    {% endblock %}
{% endblock %}