{% extends 'base/html-base.html' %}

{% comment %}
# templates/base/page-base.html

This base template provides a left sidebar, content and footer panels.

## Blocks
```
-- content (overriden from base/html-base.html template).
    |-- header
    |-- sidepanel
    |-- page
    `-- footer
```
{% endcomment %}

{% load martortags %}
{% load static %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid body-container">
        <div class="row header-row">
            <div class="col-sm-12">
                {% block header %}
                    {% include 'partials/header.html' %}
                {% endblock %}
            </div>
        </div>

        <div class="row body-row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        {% block messages %}
                            {% if messages %}
                                <div id="messages-block">
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                                            <a class="close" data-dismiss="alert">×</a>
                                            {{ message|safe }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="page-block" class="container-fluid">
                            {% block page %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer-row">
            <div class="col-sm-12">
                {% block footer %}
                    {% include 'partials/footer.html' %}
                {% endblock %}
            </div>
        </div>

    </div>
{% endblock %}