{% extends 'base/html-base.html' %}

{% comment %}
# templates/base/page-base.html

This base template provides a left sidebar, content and footer panels.

## Blocks
```
-- content (overriden from base/html-base.html template).
    |-- header
    |-- sidepanel
    |-- page
    `-- footer
```
{% endcomment %}

{% load martortags %}
{% load static %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid body-container">
        <div class="row header-row">
            <div class="col-sm-12">
                {% block header %}
                    {% include 'partials/header.html' %}
                {% endblock %}
            </div>
        </div>
    {% block messages %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                                <a class="close" data-dismiss="alert">×</a>
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endblock %}
        <div class="row body-row">
        {% if not user.is_authenticated and not hide_sidepanel %}
            <div class="col-sm-2 sidepanel">
                {% block sidepanel %}
                    {% include 'partials/sidepanel.html' %}
                {% endblock %}
            </div>
            <div class="col-sm-10">
        {% else %}
            <div class="col-sm-12">
        {% endif %}
                <div class="container-fluid">
                    {% block page %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="row footer-row">
            <div class="col-sm-12">
                {% block footer %}
                    {% include 'partials/footer.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}