{% extends 'base/page-base.html' %}
{% load martortags %}

{% block page %}
    <h1>Delete Entry</h1>
    <p>Are you sure you want to delete this Entry?</p>
    {% include 'partials/logentry-listitem.html' %}
    <div class="container-fluid input-group input-group-sm entry-panel" id="entry-panel">
        <form class="ui form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
            <button>Delete Entry</button>
        </form>
    </div>
{% endblock %}