.body-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
}

.header-row {
    padding-left: 0px;
  padding-right: 0px;
  }

.body-row {
    flex: 1;
  padding: 0px;
  margin-top: 54px;
}

#messages-block {
  margin-top: 0px;
}

#page-block {
  margin-top: 16px;
}

html:not([dir=rtl]) .sidebar {
    margin-left: 0px;
}

.nav {
    width: 100% !important;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.log-entry {
    margin: 12px;
    border-color: skyblue;
    border-style: dotted;
    border-width: 1px;
    background-color: #fffaf3;
    padding: 12px;
    padding-left: 24px;
}

.nav-title {
    font-size: large !important;
}

.entry-content {
    font-size: large;
}


div#martor-content {
    height: 100px;
}